* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #FFCCCC;
  color: white;
  text-align: center;
  font-family: 'Lato', sans-serif;
  min-height: 100vh;
}

header, form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

form input, form button {
  border: none;
  padding: 1%;
  font-size: 2rem;
  font-family: 'Dancing Script', cursive;
}

form button {
  color: white;
  background: #FFCCCC;
  transition: ease all 0.7s;
  border-radius: 50%;
  padding: 0;
  margin-left: 2%;
}

form button:focus, form input:focus {
  outline: none;
}

form button:hover {
  transform: rotate(360deg) scale(1.5);
}

/* ----------------------------------------------------------------------- */

.todoDivClass {
  margin: 0.5rem;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  color: black;
  font-family: 'Dancing Script', cursive;
  list-style-type: none;
  min-width: 20%;
  font-size: 2rem;
  min-width: 30%;
  transition: all ease 5s;
}

.todoDivClass {
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all ease 0.5s;
}

.todo-list li {
  flex: 1;
  /* Pushing The List element on
  the right corner after adding
  justify-content: space-between
  to the div above and the computer
  will automatically check and grow
  the with according to the text
  instead of hiding it*/
  outline: none;
}

.checkButtonClass, .trashButtonClass {
  padding: 0.80rem;
  margin-left: 0.25;
  font-size: 2rem;
  color: white;
  background: #FFCCCC;
  outline: none;
  border: none;
}

.fa-trash, .fa-check-circle {
  pointer-events: none;
  /* If Icon is on a button,
  we have to click on the side
  of the button to get the click
  to register, this will help
  in making the button and
  icon as one */
}

.checkButtonClass:hover, .trashButtonClass:hover {
  transform: scale(1.3);
  transition: ease all 0.4s;
}

.strikeThough {
  text-decoration: line-through;
  opacity: 0.5;
}

.listDeleteAnimation {
  transition: all ease 0.8s;
  transform: rotateZ(30deg) translateY(4rem);
  opacity: 0;
}
